.main-calendar {
    position: absolute;
    width: 100%;
    height: 70vh;
    .main-calendar-grid__presentation{
        height: 100%;
    }
    
    @media screen and (min-width: 1024px) {
        display: inline-block;
        //top: 56px;
        height: 95vh;
        width: 80%;
    } 
    @media screen and (max-width: 1023px) {
        //bottom: 0;
    } 
}

.main-calendar--untoggle {
    @extend .main-calendar;

    @media screen and (max-width: 1023px) {
        //top: 134px;
        height: 95vh;
    } 

    @media screen and (min-width: 1024px) {
        width: 100%;
    } 
}


.grind__presentation__row {
        width: 100%;
        height: calc(100%/5);
}


.grid__presentation__hour {
    display: inline-block;
     border: 1px #E6E9E9 solid;
    //padding: 0.5em 2em 0.5em 0.5em;
    width: calc( 100%/7 - 2px);
    height: 100%;
    overflow: hidden;
    vertical-align: bottom;
}

.presentation__hour__dates {
    color: #646464;
    margin-top: 0;
    padding-top: 1em;
    padding-left: 1em;
}

.main-calendar__button {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: #db4437;
    border-radius: 50%;
    border:none;
    color: white;
    font-size: 2em;
    height: 1.2em;
    width: 1.2em;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);

    &:hover {
        opacity: 0.4;
    }

    @media screen and (min-width: 1024px) {
        font-size: 2em;
        height: 2em;
        width: 2em;
    } 
}