
.calendarHeading {
    display: inline-block;
    border: 1px black solid;
    padding: 0.5em 2em 0.5em 0.5em;
    height: 60px;
    width: 80px;
}

.grid__presentation__hour {
    display: inline-block;
    border: 1px black solid;
    padding: 0.5em 2em 0.5em 0.5em;
    height: 30px;
    width: 80px;
}