@import 'mixins';

.header {
    border-bottom: 1px solid black;
    padding: 0.5em;
    overflow: hidden;
    box-sizing: content-box;
}

.header-left-panel{
    float: left;
    display: inline-block;
    list-style: none;
    margin: 0;
    
    li {
        display: inline-block;

        img {
            
            vertical-align: middle;
        }
    }

    &:after {
        vertical-align: center;
    }

}

.header__toggle-burger {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background: rgb(205, 204, 204);
    }
}

.header__calendar-heading {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.5);
}

.header--month {
    display: inline-block;
    margin-left: 5em;
}

.header__today {
    @include select;
    cursor: pointer;
}

.header--nav {
    display: inline-block;
    float: right;
}

.nav__right-panel {
    list-style: none;
    margin: 0;

    select {
        @include select;
    }

    .nav__icon {
        vertical-align: middle;
    }

    li {
        display: inline-block;
    }
}
