@import 'mixins';

.header {
    border-bottom: 1px solid #E6E9E9;
    padding: 0.5em;
    overflow: hidden;
    box-sizing: content-box;
    height: 5vh;
    
}

.header-left-panel{
    float: left;
    display: inline-block;
    list-style: none;
    margin: 0;
    
    li {
        display: inline-block;

        img {
            
            vertical-align: middle;
        }
    }

    .header__toggle-burger {
        @include circleBackground;
        vertical-align: middle;
    }

    @media screen and (max-width: 1023px) {
        padding: 0;

        li{
            display: inline;
            img, .header__calendar-heading {
            
                display:none;
            }
        }

        .header--month {
            display: inline;
            margin-left: 0;
        }
    } 
}



.header__calendar-heading {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.5);
}

.header--month {
    display: inline-block;
    margin-left: 5em;

    .arrow {
        vertical-align: middle;
    }
}

.header__today {
    @include select;
    cursor: pointer;
}

.header--nav {
    display: inline-block;
    float: right;
}

.nav__right-panel {
    list-style: none;
    margin: 0;
    
    @media screen and (max-width: 1023px) {
        display: none;
    } 

    select {
        @include select;
        width: 6em;
    }

    .nav__icon {
        vertical-align: middle;
    }

    .right-panel__left, li {
        display: inline-block;
    }

    .right-panel__left {
        margin-right: 2em;

        .nav__icon {
            @include circleBackground;
        }
    }
}
